$color-primary: #DDE0BD;
$color-secondary: #B6A39E;
$color-tertiary: #726E75;

$font-family-primary: 'Quicksand', sans-serif;
$font-family-secondary: 'Cinzel', serif;

$core-padding: 10px;
$core-margin: 10px;

$core-border-width: 1px;
$core-border-color: #948B89;
$core-border-style: solid;
