@import './config.scss';
button,
input,
select,
textarea {
  font-family: $font-family-primary;
  outline: none;
  margin-bottom: $core-margin;
  width: 100%;
  border-radius: $core-border-radius;
}

input {
  &[type='text'] {
    padding: $core-padding;
    border: $core-border;
    &:focus {
      border-color: $color-highlight;
    }
  }
}

button {
  transition: all $core-transition-duration;
  text-transform: uppercase;
  font-family: $font-family-secondary;
  font-weight: bold;
  padding: $core-padding (2 * $core-padding);
  border: 0;
  cursor: pointer;
  background-color: $color-tertiary;
  color: $color-background;

  &:hover {
    background-color: lighten($color-tertiary, 10%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $color-disabled;
  }
}

select {
  width: 100%;
  padding: $core-padding ($core-padding * 2);
  background: $color-background;
  border: $core-border;
}
