html {
  box-sizing: border-box;
  font-family: $font-family-primary;
  font-size: $core-font-size;
  background: $color-background;
  color: $color-foreground;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
}
